<h1>Book Detail</h1>
<div class="post-body">
  
  <p>投稿ユーザー画像：<%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>name：<%= @user.name %></p>
  <p>Title：<%= @book.title %></p>
  <p>body：<%= @book.body %></p>
  <% if @book.favorited_by?(current_user)%>
    <p>
      <%= link_to book_favorites_path(@book), method: :delete do%>
        ♥<%= @book.favorites.count %> 
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to book_favorites_path(@book), method: :post do%>
        ♡<%= @book.favorites.count %> 
      <% end %>
    </p>
  <% end %>
  
  
  <% if book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>